button {
    border-radius: 2px;
    padding: 5px 25px;
}

.button-booked {
    background-color: green;
    color: white;
    border: none;
}
.button-notBooked {
    background-color: green;
    color: white;
    border: none;
}