.bookings {
    border: 2px solid black;
    width: 50vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    background-color: white;
    color: black;
    height: 15%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

.bookbtn {
    margin-top: 35%;
    height: 50px;
    width: 100px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}


.existingbookings {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    color: black; 
    margin-top: 80%;
}

.book {
    margin-top: 70%;
}

.book2 {
    width: 150px;
    height: 38px;
    margin-left: 2%;
    /* font-size: 12px; */
    /* padding: 20px 20px; */

}

p  {
    margin-bottom: 10%;
}

/* .container {
    background-color: blue;
    height: 200px;
    width: 400px;
} */