.class {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    margin-top: 10%;
    height: 80vh;
    width: 90vw;
    background-color: black;
    color: white;
}

.desc {
    
    margin-top: 5%;
    font-size: 28px;
    padding: 3%;
    background-color: black;
    color: white;
    /* border: 2px solid black; */
}