.class {
    /* display: flex; */
    /* justify-content: space-around; */
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    margin-top: 10%;
    margin-bottom: 20%;
    padding: 10px;
    height: 100%;
    width: 90vw;
    color: black;
    text-align: center;  
    box-shadow: 10px 5px 15px 15px rgba(95, 95, 95, 0.842);
    opacity: 0.9; 
    font-size: 22px;
   
}

.desc {
    height: 75%;
    text-align: center;
    margin-top: 10%;
    font-size: 24px;
    padding: 5%;
    background-repeat: no-repeat;
    color: white;
    border: 5px solid black;
    margin-top: 2%;  
    background-image: url('../images/imagehero.jpg'); 
    background-size: cover;  
    font-weight: normal;
    font-family: "Ubuntu", sans-serif;

}

.nameadjust {
    /* border: 3px solid black; */
    font-family: "Ubuntu", sans-serif;
    /* font-weight: bold; */
}