.card {
  display: flex;
  justify-content: space-around;
  padding: 10%;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.border {
  border: 1px solid white;
}

.lastname {
  margin-left: 3%;
}

.Instructors {
  border: 2px solid black;
  height: 500px;
  width: 400px;
  background-color: black;
  color: white;
  font-size: 30px;
  box-shadow: 10px 5px 10px 0 rgba(95, 95, 95, 0.842);
}

.Instructors:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.945);
}

.bio {
  margin-top: 3%;
  font-size: 24px;
  padding: 5%;
}

@media (max-width: 768px) {
  .bio {
    font-size: 18px;
  }
}
