.dd-wrapper {
    background-color: red;
    height: 30px;
    width: 100%;
}

.dd-header {
    background-color: red;
}

.dd-header_title {
    background-color: blue;
}

.dd-header_title--bold {
    background-color: blue;
}